.contactsWrapper {
  width: 100%;
  border: 1px solid #dde1ee;
  @media screen and (min-width: 768px) {
    width: 50%;
  }
}
.contactDetailsWrapper {
  position: absolute;
  top: 0;
  left: 0;
  @media screen and (min-width: 768px) {
    position: static;
    width: 50%;
  }
}
.welcomePage {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    font-size: 22px;
    background-color: #fff;
  }
}
.welcomePageIcon {
  width: 48px;
  height: 48px;
}
.modalContent {
  width: 100%;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
