.groupsList {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 24px;
  overflow-y: scroll;
  overscroll-behavior-block: contain;
}
